{{template "header.html" .}}

<div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <form method="post">
        Email <input type="text" name="email" placeholder="example@gmail.com"> <br>
        Password <input type="text" name="password" placeholder="***"> <br><br>

        Login <input type="text" name="login" placeholder="Mr.Clean"> <br>
        Name <input type="text" name="name" placeholder="Ivan"> <br>
        Surname <input type="text" name="surname" placeholder="Ivanov"> <br>
        Country <input type="text" name="country" placeholder="Russia"> <br>
        <hr>
        <button type="submit">Register</button>
    </form>
</div>

<div class="container center backgrey">
    <p>Already have an account? <a href="/login">Login</a></p>
</div>

{{template "footer.html" .}}